
# This is a sample file distributed with Galaxy that is used to define a
# list of protein BLAST databases, using three columns tab separated:
#
# <unique_id>{tab}<database_caption>{tab}<base_name_path>
